body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

.titulo-principal {
    margin-top: 0;
    color: #333;
}

.subtitulo {
    color: #666;
}

.informacion-personal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.informacion {
    flex: 1;
}

.foto-perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 5px solid #3498db;
}

.experiencia, .educacion {
    margin-top: 30px;
}

h2 {
    color: #333;
    margin-top: 0;
}

h3 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
